/*
* @Author: 12574
* @Date:   2018-07-04 18:53:25
* @Last Modified by:   12574
* @Last Modified time: 2018-07-04 20:07:42
*/
body {
	background-color: #fff;
	padding: 0;
	margin: 0;
	font-size: 12px;
	font-family: "Microsoft Yahei", 微软雅黑
}
a {
	text-decoration: none;
}